* {
    font-family: "Gill Sans", serif;
    font-size: 20px;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.container, .inner-button, #next-question, #explanation {
    max-width: 100%;
}

#wrapper {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px lightblue;
    max-height: 600px;
    overflow-y: auto;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

header {
    margin: 1rem auto;
    padding: 1rem;
    width: 50%;
}

main {
    min-width: 25rem;
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.inner-button, #next-question {
    width: 95%;
    font-size: 20px;
    margin: 2px;
    padding: 5px;
}

#option-buttons {
    margin-top: 1rem;
}

#next-question {
    width: 95%;
}

#score {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 1.5rem;
}

#statement {
    margin-bottom: 1.5rem;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightpink;
}

#explanation {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#wrapper {
    /* ... */
    width: 50%; /* You may want to set a max-width as well to limit the maximum size */
    max-width: 600px; /* Example maximum width */
    /* ... */
}

/* Update this for all child elements to be relative to the #wrapper */
.container, .inner-button, #next-question, #score, #statement {
    max-width: 100%; /* This ensures they don't exceed the #wrapper's width */
    width: calc(100% - 40px); /* Example: subtracting the total padding from the #wrapper */
}

header {
    /* ... */
    width: calc(100% - 40px); /* This should match the width calculation of other children */
    /* ... */
}

@media (max-width: 768px) {
    #wrapper {
        width: 75%;
        /* No need to set width for children here if they are already relative to #wrapper */
    }
}

@media (max-width: 480px) {
    #wrapper {
        width: 95%;
        /* No need to set width for children here if they are already relative to #wrapper */
    }
}

@media (max-width: 250px) {
    #wrapper {
        width: 100%;
        /* No need to set width for children here if they are already relative to #wrapper */
    }
}
